.contenedor-gift{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 30px;
  flex-direction: column;
  align-items: center;
}

.columna-vista, .columna-personalizacion{
	width: calc(50% - 50px);
}


.cuadro-previa{
    background-color: #bbb;
    text-align: center;
    position: relative;
}

.cuadro-previa h3{
	font-size: 1.8em;
}

.texto-previa{
    display: flex;
    justify-content: center;
}

.texto-previa p{
    text-align: center;
    width: 100%;
}

.precio-vista{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.precio-vista-down{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    visibility: hidden;
}

.monto {
    background-color: black;
    padding: 15px;
    color: white;
    width: fit-content;
}

.gitf-circulo {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
  display: block;
  margin: 0 auto;
}

.personalizada{
	width: 50%;
}

.personalizada h1,h3{
	margin-bottom: 10px;
}

.gift-monto h3{
	margin-bottom: 0px!important;
}

.personalizada input[type="text"]{
	border-radius: 5px;
	width: 100%;
	height: 30px;
}

.selec-circulo{
	display: flex;
    justify-content: space-around;
    align-items: center;
}

.selec-circulo .veinte{
	font-size: 1.25em;
}
.selec-circulo .veintiocho{
	font-size: 1.3em;
}
.selec-circulo .treintaydos{
	font-size: 1.35em;
}
.selec-circulo .cuarentayocho{
	font-size: 1.4em;
}

.selec-circulo .sesenta{
	font-size: 1.5em;
}

.ubicacion-cuadrado-padre{
	height: 25px;
  width: 35px;
  background-color: white;
  display: inline-block;
  position: relative;
  border: 1px solid #bbb; 
}

.ubicacion-cuadrado-hijo1{
height: 8px;
  width: 12px;
  background-color: #bbb;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
}

.ubicacion-cuadrado-hijo2{
height: 8px;
  width: 12px;
  background-color: #bbb;
  display: inline-block;
  position: absolute;
}

.ubicacion-cuadrado-hijo3{
height: 8px;
  width: 12px;
  background-color: #bbb;
  display: inline-block;
  position: absolute;
  right: 0;
}

.ubicacion-cuadrado{
	height: 25px;
  width: 25px;
  background-color: #bbb;
  display: inline-block;
  right: 0;
}

.gift-monto{
	display: flex;
    justify-content: flex-start;
}

.gift-monto h3{
	margin-right: 15px;
}

.gift-button{
	background-color: black; /* Green */
  border-radius: 12px;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 30px;
}

.gift-fila, .gift-monto{
	margin-bottom: 20px;
	margin-top: 15px;
}

.red-social h3{
    margin-bottom: 10px;
}

.menu-inferior h3{
    margin-bottom: 10px;
}

.menu-inferior h3{
    margin-bottom: 10px;
}

@media screen and (min-width:60em){

  .contenedor-gift{
    flex-direction: row;
    align-items: start;

  }

}

 @media screen and (min-width:47em){
  .texto-previa p {
    width: 50%;
}
 }


}